In [29]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz

df = pd.read_csv('./data/car-purchase-decision.csv')
df

      id  gender  age  annual_salary  purchased
0    385       1   35          20000          0
1    681       1   40          43500          0
2    353       1   49          74000          0
3    895       1   40         107500          1
4    661       1   25          79000          0
..   ...     ...  ...            ...        ...
995  863       1   38          59000          0
996  800       0   47          23500          0
997  407       0   28         138500          1
998  299       0   48         134000          1
999  687       0   44          73500          0

[1000 rows x 5 columns]

In [30]:
X = df[['gender', 'age', 'annual_salary']]
y = df['purchased']

model = DecisionTreeClassifier()
model.fit(X.values, y.values)

DecisionTreeClassifier()

In [31]:
export_graphviz(
    model,
    out_file='purchased.dot',
    feature_names=['gender', 'age', 'annual_salary'],
    class_names=sorted(['Not purchased', 'Purchased']),
    label='all',
    filled=True
)